dckr_mysql/*
pg_docker
src/server
vendor
/docker_tmp
main
html/assets/js/generated/.babelrc
html/assets/js/generated/.gitignore
html/assets/js/generated/git_push.sh
html/assets/js/generated/mocha.opts
html/assets/js/generated/.openapi-generator/
html/assets/js/generated/.openapi-generator-ignore
html/assets/js/generated/package.json
html/assets/js/generated/README.md
html/assets/js/generated/.travis.yml
html/assets/js/generated/openapitools.json
