$accent: #C6FF00;
$on-accent: #171616;

$surface-1: #171616;
$surface-2: #262525;
$surface-3: #313131;

$primary: #FFFFFF;
$secondary: #C7C2C2;
$tertiary: #5F5B5B;

$outline: #323232;
$outline-hard: #D9D9D9;