<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
        }

        .sidebar {
            width: 60%;
            background: #f3f3f3;
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
        }

        .content {
            width: 40%;
            padding: 20px;
        }

        input {
            display: block;
            width: 50%;
            padding: 10px;
            margin: 10px 0;
        }

        button {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Teams</h2>
            <div id="team-list">
                <!-- Team list will be loaded here -->
            </div>
        </div>
        <div class="content">
            <h2>Add New Team</h2>
            <form id="add-team-form">
                <input type="text" id="name" name="name" placeholder="Team name" required>
                <input type="text" id="description" name="Description" placeholder="Description">
                <input type="text" id="social_links" name="Social links" placeholder="Social links">
                <input type="text" id="avatar_url" name="Avatar URL" placeholder="Avatar URL">
                <input type="text" id="university" name="University" placeholder="University">
                <input type="hidden" id="university_id" name="university_id">

                <button type="submit">Add Team</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function loadTeams() {
                $.ajax({
                    url: '/api/teams',
                    method: 'GET',
                    success: function (teams) {
                        $('#team-list').empty();
                        teams.forEach(function (team) {
                            $('#team-list').append(`<div>
                                <img src="${team.avatar_url}" alt="Team Avatar" style="width:50px;height:50px;">
                                <p>Name: <b> ${team.name}</b></h4>
                                <p>University: ${team.university}</p>
                                <p>Description: ${team.description}</p>
                                <button onclick="deleteTeam('${team.id}')">Delete</button>
                            </div>`);
                        });
                    }
                });
            }
            $('#university').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/universities',  // Путь к API, который возвращает список университетов
                        dataType: 'json',
                        data: {
                            term: request.term  // Параметр поиска, отправляемый на сервер
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,  // 'name' предполагается что это название университета
                                    value: item.name,
                                    id: item.id    // Сохраняем id университета в объекте для последующего использования
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    console.log("Selected: " + ui.item.label + ", ID: " + ui.item.id);

                    $('#university').val(ui.item.label);
                    $('#university_id').val(ui.item.id);
                    return false;
                }
            });
            loadTeams();
            $('#add-team-form').on('submit', function (e) {
                e.preventDefault();
                var data = {
                    name: $('#name').val(),
                    password: $('#password').val(),
                    social_links: $('#social_links').val(),
                    description: $('#description').val(),
                    avatar_url: 'https://robohash.org/' + $('#avatar_url').val(), // тут для отладки рандомный текст преврашается в image
                    university_id: $('#university_id').val()
                };

                $.ajax({
                    url: '/api/teams',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert('Team added successfully!');
                        loadTeams();
                    },
                    error: function () {
                        alert('Error adding team');
                    }
                });
            });
        });

        function deleteTeam(teamId) {
            $.ajax({
                url: `/api/teams/${teamId}`,
                method: 'DELETE',
                success: function () {
                    alert('Team deleted successfully!');
                    // loadTeams(); fixme not work
                },
                error: function () {
                    alert('Error deleting team');
                }
            });
        }
    </script>
</body>
</html>
