<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
        }

        .sidebar {
            width: 60%;
            background: #f3f3f3;
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
        }

        .content {
            width: 40%;
            padding: 20px;
        }

        input {
            display: block;
            width: 50%;
            padding: 10px;
            margin: 10px 0;
        }

        button {
            cursor: pointer;
        }

        .navigation {
            margin-bottom: 20px;
        }

        a {
            margin-right: 20px;
            text-decoration: none;
            color: blue;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Teams</h2>
            <div id="team-list">
                <!-- Team list will be loaded here -->
            </div>
        </div>
        <div class="content">
            <div class="navigation">
                <a href="/games/index.html">List Games</a>
                <a href="/users/index.html">List Users</a>
                <a href="/teams/index.html">List Teams</a>
                <a href="/services/index.html">List Services</a>
            </div>
            <h2 id="user-label">Add New Team</h2>
            <form id="add-team-form">
                <input type="hidden" id="team_id" name="team_id">
                <input type="text" id="name" name="name" placeholder="Team name" required>
                <input type="text" id="description" name="Description" placeholder="Description">
                <input type="text" id="social_links" name="Social links" placeholder="Social links">
                <input type="text" id="avatar_url" name="Avatar URL" placeholder="Avatar URL">
                <input type="text" id="university" name="University" placeholder="University">
                <input type="hidden" id="university_id" name="university_id">

                <button type="submit">Add Team</button>
            </form>
        </div>
    </div>

    <script>
        function deleteTeam(teamId) {
            $.ajax({
                url: `/api/teams/${teamId}`,
                method: 'DELETE',
                success: function () {
                    alert('Team deleted successfully!');
                    loadTeams();
                },
                error: function () {
                    alert('Error deleting team');
                }
            });
        }
        function loadTeams() {
            $.ajax({
                url: '/api/teams',
                method: 'GET',
                success: function (teams) {
                    $('#team-list').empty();
                    teams.forEach(function (team) {
                        var teamInfoDiv = $('<div>').append(
                            $('<img>').attr({
                                src: team.avatar_url,
                                alt: "Team Avatar",
                                style: "width:50px;height:50px;"
                            }),
                            $('<p>').text('Name: ').append($('<a>').text(team.name).click(function () {
                                $('#name').val(team.name);
                                $('#avatar_url').val(team.avatar_url);
                                $('#team_id').val(team.id);
                                $('#description').val(team.description);
                                $('#social_links').val(team.social_links);
                                $('button[type=submit]').text('Update Team');
                                $('#user-label').text('Update Team');
                            })),
                            $('<p>').text(`Description: ${team.description}`),
                            $('<p>').text(`University: ${team.university}`),
                            $('<button>').text('Delete').click(function () {
                                deleteTeam(team.id);
                            })
                        );
                        $('#team-list').append(teamInfoDiv);
                    });
                }
            });
        }
        $(document).ready(function () {
            loadTeams();
            $('#university').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/universities',
                        dataType: 'json',
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                    id: item.id
                                };
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    console.log("Selected: " + ui.item.label + ", ID: " + ui.item.id);
                    $('#university').val(ui.item.label);
                    $('#university_id').val(ui.item.id);
                    return false;
                }
            });
            $('#add-team-form').on('submit', function (e) {
                e.preventDefault();
                var teamId = $('#team_id').val();
                var methodType = teamId ? 'PUT' : 'POST';
                var apiUrl = teamId ? `/api/teams/${teamId}` : '/api/teams';
                var data = {
                    name: $('#name').val(),
                    description: $('#description').val(),
                    social_links: $('#social_links').val(),
                    avatar_url: $('#avatar_url').val(),
                    university_id: $('#university_id').val()
                };
                $.ajax({
                    url: apiUrl,
                    method: methodType,
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert('Team added/updated successfully!');
                        loadTeams();
                        $('#add-team-form').trigger("reset");
                        $('#team-label').text('Add Team');
                        $('button[type=submit]').text('Add Team');
                    },
                    error: function () {
                        alert('Error adding/updating team');
                    }
                });
            });
        });
    </script>
</body>

</html>
