@font-face {
	font-family:'Petrov Sans-Trial';
	src: url('Petrov Sans-Trial Bold.eot');
src: url('Petrov Sans-Trial Bold.eot?#iefix') format('embedded-opentype'),
	url('Petrov Sans-Trial Bold.woff2') format('woff2'),
	url('Petrov Sans-Trial Bold.woff') format('woff'),
	url('Petrov Sans-Trial Bold.svg#Petrov Sans-Trial Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Petrov Sans-Trial';
	src: url('Petrov Sans-Trial Regular.eot');
src: url('Petrov Sans-Trial Regular.eot?#iefix') format('embedded-opentype'),
	url('Petrov Sans-Trial Regular.woff2') format('woff2'),
	url('Petrov Sans-Trial Regular.woff') format('woff'),
	url('Petrov Sans-Trial Regular.svg#Petrov Sans-Trial Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Petrov Sans-Trial SemiBold';
	src: url('Petrov Sans-Trial SemiBold.eot');
src: url('Petrov Sans-Trial SemiBold.eot?#iefix') format('embedded-opentype'),
	url('Petrov Sans-Trial SemiBold.woff2') format('woff2'),
	url('Petrov Sans-Trial SemiBold.woff') format('woff'),
	url('Petrov Sans-Trial SemiBold.svg#Petrov Sans-Trial SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}