/*body{
    background-color: #000;
    font: 12pt/10pt Arial;
    color: #999;
    padding: 0px;
    margin: 0px;
    background-color: #202020;
    color: #aaa;
}

body,html{
    height: 100%;
    text-align: center;
}*/


#menu_global {
    padding-left: 20px;
    padding-right: 20px;
}

.spa-web-page {
    display: none;
}

.nav-item .nav-link {
    cursor: pointer;
}

.btn-menu-top-left {
    margin-left: 10px;
}

.services-card {
    display: inline-block;
    margin: 10px;
}